/* :root {
  --default-font: "Open Sans",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Marcellus",  sans-serif;
  --nav-font: "Marcellus",  sans-serif;
} */
/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --default-font: "Open Sans",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Marcellus",  sans-serif;
  --nav-font: "Marcellus",  sans-serif;
}

:root { 
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #423226; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #423226; /* Color for headings, subheadings and title throughout the website */
  --accent-color: white; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #423226; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}
.light-background {
  --background-color: #423226;
  --surface-color: #423226;
}
:root {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}
a {
  color: var(--default-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .section-title {
  /* margin-bottom: 10px; */
  /* padding: 500px; */
}

#about h2 {
  color: #423226;  
}


#about h3  {
  color: #CE9233;  
}



.about h3 {
  color: #423226;
}
.about .bgg {
  color: #423226;
}
.about .bgg1 {
  color: #CE9233;
}
#about963 {
  background-image: url('images3/21.jpg'); 
  background-size: 100% 100%; /* image exactly section di width & height de hisaab naal fit hove */
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

/* Optional: add dark overlay for better text visibility */
#about963::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.3);  */
  /* dark transparent layer */
  z-index: -1;
}



.img-overlap {
  max-width: 720px; 
  width: 700px;
  height: 600px;    
  /* background-size: cover; */
  object-fit: cover;
  background-position: center; 
}

.about .content .col-lg-5 {
  margin-left: 110px; 
}


.about .content {
  /* background: var(--accent-color); */
  /* color: var(--contrast-color); */
  /* padding: 6rem 0; */
}
/* .about .mttt {
  padding: 0.5rem 0;
  padding-bottom: 1.5rem;;
} */

.about .content .img-overlap {
  box-shadow: 10px 30px 30px #505050;
}

.about p {
  color: var(--contrast-color);
}

.about .content-title {
  color: var(--contrast-color);
  font-weight: 500;
  text-align: left;
}

.about .content-title strong {
  font-weight: 700;
  /* font-size: 2.5rem; */
}

.about .content-subtitle {
  font-weight: 300;
  color: var(--contrast-color);
  text-transform: uppercase;
  font-size: 1.3rem;
}


/* clients review */




#section-counter {
  position: relative;
  z-index: 0; 
width:100%;}
  #section-counter:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: -1;
    opacity: .9;
     }
  .take {
    /* color:#ffffff; */
    text-shadow: 2px 2px 4px #000000;
  }


.clienttimer{
  /* background-color: ; */
  width: 100%;
  padding-left: 30vh;
}

.m-left{
   margin-left: 150px;
}