/*--------------------------------------------------------------
# Services 2 Section
--------------------------------------------------------------*/
:root {
  --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --heading-font: "Marcellus", sans-serif;
  --nav-font: "Marcellus", sans-serif;
}

.services-2 {
  overflow: visible;
  margin-bottom: 200px;
}

.meet1 {
  color: black !important;
   /* text-shadow: 2px 2px 4px white; */
  text-shadow: -1px 0 #CE9233, 0 1px #CE9233, 1px 0 #CE9233, 0 -1px #CE9233 !important  ;

}

.services-2 .section-title {
  text-align: left;
}

.services-2 .section-title h2 {
  color: color-mix(in srgb, var(--contrast-color), transparent 50%);
  text-transform: uppercase;
  font-size: 20px;
}

.services-2 .section-title p {
  color: var(--contrast-color);
}

.services-2 .services-carousel-wrap {
  position: relative;
  margin-bottom: -200px;
}

.services-2 .swiper-wrapper {
  height: auto;
}

.services-2 .service-item {
  position: relative;
  overflow: hidden;
}

.services-2 .service-item:before {
  content: "";
  background-color: color-mix(in srgb, var(--background-color), transparent 50%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: 0.3s all ease;
}

.services-2 .service-item img {
  transition: 0.5s all ease;
  transform: scale(1);
}

.services-2 .service-item .service-item-contents {
  z-index: 9;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  transition: 0.3s all ease;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
}

.services-2 .service-item .service-item-contents .service-item-category {
  color: var(--accent-color);
  text-transform: uppercase;
}

.services-2 .service-item .service-item-contents .service-item-title {
  color: var(--contrast-color);
  margin-bottom: 0;
}

.services-2 .service-item:hover:before {
  opacity: 1;
  visibility: visible;
}

.services-2 .service-item:hover .service-item-contents {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}

.services-2 .service-item:hover img {
  transform: scale(1.2);
}

.services-2 .navigation-prev,
.services-2 .navigation-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  width: 46px;
  height: 46px;
  background: var(--contrast-color);
  background-color: none;
  border: none;
  transition: 0.3s all ease;
}

.services-2 .navigation-prev i,
.services-2 .navigation-next i {
  font-size: 2rem;
}

.services-2 .navigation-prev:hover,
.services-2 .navigation-next:hover {
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

.services-2 .navigation-prev {
  left: 10px;
}

.services-2 .navigation-next {
  right: 10px;
}

.services-2 .swiper {
  padding-bottom: 50px;
}

.services-2 .swiper-pagination {
  bottom: 0px;
}

.services-2 .swiper-pagination .swiper-pagination-bullet {
  border-radius: 0;
  width: 20px;
  height: 4px;
  background-color: color-mix(in srgb, var(--background-color), transparent 80%) !important;
  opacity: 1;
}

.services-2 .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--accent-color) !important;
}