/*** Service ***/
.service .service-item {
    position: relative;
    margin-top: 45px;
    height: 50vh;
}
.service .imgg {
    height: 250px;
    /* width: 100%; */
   object-fit: cover;       
  object-position: center; 
}

.service .service-inner {
    position: relative;
    height: 100%;
    margin-top: 45px;
    background: var(--bs-white);
    box-shadow: 0 0 45px rgba(0, 0, 0, .05);
    /* background-image: url("images/17.PNG"); */
      
}

.service .service-inner::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    transition: 1s;
    background: #CE9233;
    /* backdrop-filter: blur(10px); */
      /* -webkit-backdrop-filter: blur(10px); */
}

.service .service-inner:hover::before {
    height: 100%;
    top: 0;
}

.service .service-item img {
    margin-top: -45px;
    padding-left: 45px;
}

.service .service-item * {
    position: relative;
    transition: .5s;
    z-index: 1;
}

.service .service-item:hover h5,
.service .service-item:hover p {
    color: var(--bs-white);
}

.service .service-item:hover a {
    padding-left: 45px !important;
}


/*** Appoinment ***/
.appoinment {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/carousel-2.jpg) left center no-repeat;
    background-size: cover;
}


/*** Team ***/
.team .team-item {
    background: var(--bs-white);
    box-shadow: 0 0 45px rgba(0, 0, 0, .05);
}

.team .team-item .team-social {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    transition: .5s;
    background: var(--bs-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.team .team-item:hover .team-social {
    width: 100%;
    left: 0;
}

.team .team-item .team-social .btn {
    opacity: 0;
    transition: .5s;
}

.team .team-item:hover .team-social .btn {
    opacity: 1;
}